<div id="flashMenu" style="padding: 0 5px 10px 25px;">
  {% if language == "en" %}{% assign entries = site.data.nav_en.entries %}{% else %}{% assign entries = site.data.nav_de.entries %}{% endif %}
    {% for item in entries %}
      {% assign firstchar = item.path | slice: 0 %}
      {% if firstchar == '/' %}
      {% assign itempath = item.path %}
      {% else %}
      {% assign itempath = '/' | append: item.path %}
      {% endif %}
      <span class="menucat{% if page.url == itempath %} menu_active{% endif %}">
      <a href="{{ itempath }}">
        {{ item.title }}
      </a>
      </span><br/>
      {% if item.subentries %}
        {% for subitem in item.subentries %}
          {% assign firstchar = subitem.path | slice: 0 %}
          {% if firstchar == '/' %}
          {% assign subitempath = subitem.path %}
          {% else %}
          {% assign subitempath = '/' | append: subitem.path %}
          {% endif %}
          &nbsp;&nbsp;&nbsp;<span class="menusubcat{% if page.url == subitempath %} menu_active{% endif %}">
            <a href="{{ subitempath }}">
              {{ subitem.title }}
            </a>
          </span><br/>
        {% endfor %}
      {% endif %}
      <br class="menu_br" />
    {% endfor %}

</div>
