@mixin attop {
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap');
} 


@mixin unscoped {
body {
  font-family: 'Raleway', sans-serif;
  font-variant-ligatures: no-common-ligatures;
  color: #3d3d3d;
  font-size: 15px;
  line-height: 1.3;
}
}

@mixin maincontent {


h1, h2, h3 {
	color: #354f59;
	font-weight: normal;
}

h1 {
	font-size: 23px;
//	line-height: 27px;
}
h2 {
	font-size: 21px;
//	line-height: 25px;
}
h3 {
	font-size: 19px;
  font-weight: $f-bold;
//	line-height: 23px;
}
h4 {
  font-size: 17px;
  font-weight: $f-bold;
  color: #b13b66;//#060d7c;//#805a11;//#1e6b3c;
  margin-bottom: 0px;
}
h4+p {
  margin-top: 0;
  padding-left: 20px;
}

h5 {
  font-size: 17px;
  font-weight: $f-bold;
  margin-bottom: 5px;
}
h5+p {
  margin-top: 0;
}

p,p+.named-anchor {
  &+h1,&+h2,&+h3,&+h4,&+h5,&+h6 {
    margin-top: 30px;
  }
}

code { color: $extra-emph-color; font-weight: $f-bold; font-family: inherit; }
blockquote {
  margin: 30px 0px;
  padding: 10px 20px;
  border: 2px solid #b13b66;//#408f9d;
  border-radius: 5px;
  color: #b13b66;
}

a { opacity: 0.9; color: $link-color-multiplied; }
a:hover { opacity: 1; color: $link-color-hover; }

div.imglink {
  display: inline-block;
  vertical-align: top;
  width: min-content;
}

// flash target when jumping within page
.named-anchor:target+* {
  animation-name: flash-target;
  animation-duration: 2s;
}
@keyframes flash-target {
  from, to {
  }
  20% {
    background-color: #aae4e5;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #408f9d;
  padding: 3px;
}




}
