@mixin attop {
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap');
} 


@mixin unscoped {
body {
  font-family: 'Raleway', monospace;
  color: $color-main;
  font-family: $font-main;
  font-size: 15px;
  line-height: 20px;
}
}

@mixin maincontent {


code { color: $extra-emph-color; font-weight: bold; font-family: inherit; }
blockquote {
  //background-color: $flash-color;
  margin: 30px 0px;
  padding: 10px 20px;
  border: 2px solid $border-color;
  border-radius: 5px;
}

a { opacity: 0.9; color: $link-color-multiplied; }
a:hover { opacity: 1; color: $link-color-hover; }

div.imglink {
  display: inline-block;
  vertical-align: top;
  width: min-content;
}

// flash target when jumping within page
.named-anchor:target+* {
  animation-name: flash-target;
  animation-duration: 2s;
}
@keyframes flash-target {
  from, to {
  }
  20% {
    background-color: $flash-color;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid $border-color;
  padding: 3px;
}


// begin from old site


h1, h2, h3 {
	color: #354f59;
  font-family: $font-h;
	font-weight: normal;
}

h1 {
	font-size: 23px;
	line-height: 27px;
}
h2 {
	font-size: 23px;
	line-height: 27px;
}
h3 {
	font-size: 21px;
	line-height: 25px;
}

// end from old site


}
