/* Styling, colors, fonts of menu, impressum, etc */

#contents #header {
	color: #fdfdff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#contents #header a {
	color: #fdfdff;
	text-decoration: none;
}

#contents #header a:hover {
	color: #1a8ca6;
	text-decoration: none;
}

#contents #header #impressum a {
	color: #555555;
	text-decoration: none;
}

#contents #header #impressum a:hover {
	color: #1a8ca6;
	text-decoration: none;
}

#flashMenu a {
	color: #353535;
  font-family: 'Rubik';
}
#flashMenu a:hover {
	color: #1a8ca6;
}

.menusubcat {
  font-weight: bold;
}

.lang_active {
	color: #aae4e5;
}

.menucat {
	line-height: 33px;
	font-weight: bold;
}
.menusubcat {
  font-size: 13px;
	line-height: 20px;
}
.menusubsubcat {
  font-size: 10px;
	line-height: 15px;
}
#menu .menu_active a {
	color: #1a8ca6;
}
.menu_br {
	height: 10px;
	font-size: 10px;
	line-height: 10px;
}


/* pure box wrangling, backgrounds */

#left{
 	background-image: url(seamless_hdr_bg.gif);
	background-repeat: repeat-x;
	background-position: top right;
//	text-align: right; // I think this does nothing
}

#right{
 	background-image: url(seamless_hdr_bg.gif);
	background-repeat: repeat-x;
	background-position: top left;
//	text-align: left; // I think this does nothing
}

#main {
	margin: 0;
	padding: 0;
	background-image: url(menu_bg.gif);
	background-repeat: repeat-y;
  width: 933px;
  vertical-align: top;
}

#menu {
	margin: 0;
	padding: 135px 0 0 11px;
	width: 245px;
	background-image: url(logo_gradient.gif);
	background-repeat: no-repeat;
//	text-align: left; //unnecessary
	float: left;
  vertical-align: top;
}

#contents {
	padding-left: 245px;
}

#contents #header {
	height: 110px;
	margin: 0 0 30px 0;
	background-image: url(header_md_bg.gif);
	background-repeat: no-repeat;
	background-position: top;
}

#contents #real_contents {
	padding-left: 60px;
	width: 600px;
}

.clearfloat {
	clear:both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
