/* box wrangling and backgrounds */

#left{
 	background-image: url(seamless_hdr_bg.gif);
	background-repeat: repeat-x;
	background-position: top right;
//	text-align: right; // I think this does nothing
}

#right{
 	background-image: url(seamless_hdr_bg.gif);
	background-repeat: repeat-x;
	background-position: top left;
//	text-align: left; // I think this does nothing
}

#main {
	margin: 0;
	padding: 0;
	background-image: url(menu_bg.gif);
	background-repeat: repeat-y;
  width: 933px;
  vertical-align: top;
}

#menu {
	margin: 0;
	padding: 135px 0 0 11px;
	width: 245px;
	background-image: url(logo_gradient.gif);
	background-repeat: no-repeat;
//	text-align: left; //unnecessary
	float: left;
  vertical-align: top;
}

#contents {
	padding-left: 245px;
}

#contents #header {
	height: 110px;
	margin: 0 0 30px 0;
	background-image: url(header_md_bg.gif);
	background-repeat: no-repeat;
	background-position: top;
}

#contents #real_contents {
	padding-left: 60px;
	width: 600px;
}

.clearfloat {
	clear:both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
